@font-face {
	font-family: poetsen;
	src: url(../fonts/poetsen.ttf);
	src: url(../fonts/poetsen.woff);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: redrose;
	src: url(../fonts/redRose_bold.ttf);
	src: url(../fonts/redRose_bold.woff);
	font-weight: normal;
	font-style: normal;
}

/*----Body----*/

body {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	width: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: redrose;
	font-size: 2.2em;
	margin-top: 0;
	padding-top: 20px;
	text-align: center;
}

h2 {
	font-family: redrose;
	font-size: 2em;
	margin: 0 auto;
	padding-top: 20px;
	color: #330099;
}

h3 {
	font-family: poetsen;
	color: #FF950E;
	font-style: italic;
}


p {
	text-align: justify;
	font-size: 1em;
}

a {
	text-decoration: none;
}

@media all and (max-device-width: 480px){
	img {
		max-width: 100%;
	}
	
	h1{
		font-size:1.8em;
		}
		
	h2{
		font-size:1.5em;
	}
		
		
		
		
}

/*----Header----*/

header {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: space-between;
	height: 90px;
	padding: 20px 40px;
	background-color:#ffffff;
	border-bottom: 3px solid red;
	position: sticky;
	top: 0;
}

#logoSite {
	width: 90px;
	height: auto;
}

.userLog {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: flex-end;
	flex-grow: 0.1;
}

.userLog img {
	max-width: 50px;
	height: 50px;
}

#userName {
	font-family: poetsen;
	font-size: 1.5em;
	padding-right: 10px;
}

#userMenu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	position: fixed;
	z-index: 1000;
	top: 35px;
	right: 5px;
	padding: 0;
	background-color: #fff;
}

#userMenu img {
	width: 30px;
	height: auto;
	margin-bottom: 10px;
}

#userMenu a {
	margin: 5px auto;
	text-align: center;
	margin-bottom: 10px;
	font-size: 1.3em;
	font-family: poetsen;
	color: #6d6d6d;
	text-decoration: none;
}

#userMenu li {
	display: none;
	align-items: flex-end;
	background-color: #fff;
	height: 40px;
	width: 300px;
}

#userMenu:hover {
	border: 2px red solid;
}

#userMenu:hover li {
	display: flex;
}

@media all and (max-device-width: 480px)	{

	header {
		width:100%;
		flex-direction: column;
		justify-content: flex-start;
		height: 170px;
		background-color:#ffffff;
		padding:0;
	}
	
	#logoSite {
		width: 45px;
		height: auto;
	}
	
	.userLog {
		flex-direction: row-reverse;
		flex-grow: 0;
		margin:0;
		padding:0;
		height:55px;
	}
	
	.userLog img {
		max-width: 45px;
		height: 45px;
	}
	
	#userName {
		padding-left: 10px;
		padding-right: 0;
	}
	
	#userMenu {
		flex-direction: row;
		justify-content:flex-start;
		align-items: center;
		position: initial;
		margin:0;
		padding:0;
	}
	
	#userMenu img {
		display: none;
	}
	
	#userMenu li{
		margin:0 10px;
		display:flex;
		width:auto;
		text-align:center;
	}
	
	#userMenu:hover {
		border: none;
	}
	
	#userMenu a{
		font-size:1em;
		width:100px;
		height:2.1em;
		text-align:center;
		margin:0;
	}
}

/*----Partners List----*/

.partnerSection{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 80%;
	margin: 0 auto;
	border-width: 0px 3px;
	border-style: solid;
	border-color: red;
}

.partnerPresentation {
	margin: 0 0 30px 0;
	background-color: #ffd5d5;
	padding: 0 2% 0 2%;
}

.partnerPresentation img {
	display: block;
	margin: 30px auto;
	text-align: center;
	border: 1px black solid;
	border-radius: 20px;
}

hr {
	margin-bottom: 0;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}

#partnersList {
	padding: 0 2% 0 2%;
}

#partnerBox {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	border: 1px black solid;
	border-radius: 20px;
	padding: 0 20px 0 20px;
	margin-bottom: 10px;
}

.partnerDescription
{
	width: 900px;
	margin: auto 20px auto auto;
}

#partnerBox img {
	width: auto;
	height: 80px;
	border: 1px black solid;
	margin: 20px 20px 20px 0;
}


@media all and (max-device-width: 480px){

	.partnerSection{
		width: 95%;
	}
	
	#partnerBox {
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}
	
	#partnerBox img {
		width: 100%;
		height: auto;
		margin: 20px auto 0 auto;
	}
	
	.partnerPresentation img {
		height: auto;
	}
	
	.partnerDescription {
		width: 100%;
	}
	
	.partnerDescription p{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
}

/*----Partner page ----*/

#commentsListBox {
	border: 1px black solid;
	border-radius: 20px;
	padding: 0 20px 0 20px;
	margin-bottom: 10px;
}

#commentsListBox img {
	width: 40px;
	height: auto;
	margin: 0 5px;
}

#commentsBanner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#commentsBanner a, #commentsBanner p {
	font-family: poetsen;
	text-decoration: none;
	color: black;
}

#commentBoxMenu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	flex-grow: 0.1;
}

.commentBoxEntry {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.commentBoxEntry p {
	display: inline;
}

.commentBoxEntry:nth-child(1) {
	margin-right: 50px;
}

#oneCommentBox {
	border: 1px black solid;
	border-radius: 10px;
	padding: 0 20px 0 20px;
	margin-bottom: 10px;
}

#oneCommentBox p {
	font-family: poetsen;
	font-size: 1em;
}

#oneCommentBox em {
	font-family: serif;
	font-size: 1em;
	font-style: normal;
}

@media all and (max-device-width: 480px){

	#commentsBanner {
		flex-direction:column;
	}
	
	.commentBoxEntry {
		justify-content:center;
	}
	
	.commentBoxEntry img{
		max-width:30px;
		height:auto;
	}
	
	.commentBoxEntry:nth-child(1) {
		margin:0;
		margin-right:20px;
		width:150px;
	}
	
	#commentsListBox h1{
		font-size:1.8em;
	}
	
}

/*----Ajouter un commentaire----*/


#likeDislike{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px auto;
}

#likeDislike img{
	width: 45px;
	height: auto;
}

textarea {
	width: 600px;
	height: 300px;
}


@media all and (max-device-width: 480px){

	form {
	}

	textarea{
		width:300px;
		height:200px;
	}
	
	#likeDislike{
		width:200px;
	}
		
	input[type="radio"]{
		width:20px;
		height:auto;
	}
	
	#likeDislike img{
		width: 40px;
		height: auto;
	}
}
/*----Messages d'erreur et de validation----*/

.message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}

.message p {
	display: block;
	text-align: center;
	font-family: poetsen;
	font-size: 1.2em;
}

/*----Formulaires----*/

form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
}

input {
	width: 100%;
	height: 1.6em;
	font-size: 1.6em;
	text-align: center;
}

form p {
	display: block;
	font-size: 1.5em;
	margin: 20px auto;
	text-align: center;
}

.logoForm{
	display: block;
	height: 150px;
	width: auto;
	margin: auto;
}

input[type="checkbox"]{
	width: 25px;
	height: 25px;
	margin: 25px;
	padding: 0;
}

#stayLogged{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	margin: auto;
	font-size: 1.5em;
}

#connectOptions{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100px;
}


/*----Boutons----*/

/* Bouton */
.button {
	display: block;
	border: 0;
	padding: 5px 20px;
	margin: 20px auto;
	font-family: poetsen;
	font-size: 1.1em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: rgba(220, 0, 0, 1);
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
	inset -2px -2px 3px rgba(0, 0, 0, .6);
	width: 100px;
}

.button:hover {
	background-color: rgba(255, 0, 0, 1);
}

.button:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
	inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/*----Footer----*/

footer {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: space-around;
	height: 100px;
	padding: 0 100px;
	background-color: #ffffff;
	border-top: 3px solid red;
	bottom: 0;
}
