/* Mes couleurs :
Bleu titre : #330099
Orange titre 2 : #FF950E
Bleu titre 3 : #3465a4
violet fonds : #bfaaff
gris sable : #c6c5be
rouge gbaf : #ff0000;

*/

@font-face {
	font-family: poetsen;
	src: url(../fonts/poetsen.ttf);
	src: url(../fonts/poetsen.woff);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: redrose;
	src: url(../fonts/redRose_bold.ttf);
	src: url(../fonts/redRose_bold.woff);
	font-weight: normal;
	font-style: normal;
}

/*---Header---*/

header {
	display: flex;
	display: -webkit-flex;
	align-content: center;
	justify-content: space-between;
	height: 90px;
	padding: 20px 40px;
	padding-right: 40px;
	padding-left: 40px;
	background-color: #ffffff;
	border-bottom: 3px solid red;
	position: sticky;
	top: 0;
}

#logoSite {
	width: 90px;
	height: auto;
}

#userLog {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: flex-end;
	flex-grow: 0.1;
}

#userLog img {
	max-width: 50px;
	height: 50px;
}

#userLogged p
{
	margin: 0 20px 0 0;
}

#userName {
	font-family: poetsen;
	font-size: 1.5em;
	padding-right: 10px;
}

#userMenu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	position: fixed;
	z-index: 1000;
	top: 35px;
	right: 5px;
	padding: 0;
	background-color: #fff;
}

#userMenu:hover {
	border: 2px red solid;
}

#userMenu img {
	width: 30px;
	height: auto;
	margin-bottom: 10px;
}

#userMenu li{
	display: none;
	align-items: flex-end;
	background-color: #fff;
	height: 40px;
	width: 300px;
}

#userMenu a{
	margin: 5px auto;
	text-align: center;
	margin-bottom: 10px;
	font-size: 1.3em;
	font-family: poetsen;
	color: #6d6d6d;
	text-decoration: none;

}


#userMenu:hover li{
	display: flex;

}

/*---Body---*/

body {
	margin: 0;
	padding: 0;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

section {
	width: 80%;
	margin: auto;
	border-width: 0px 3px 0px 3px;
	border-style: solid;
	border-color: red;
}


h1 {
	font-family: redrose;
	font-size: 2.2em;
	margin-top: 0;
	padding-top: 20px;
}

h2 {
	text-decoration: underline;
	color: #FF950E;
	font-size: 1.5em;
}

h3 {
	font-family: poetsen;
	color: #3465a4;
	font-style: italic;
}

#message {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: center;
	font-family: poetsen;
	font-size: 1.2em;
	border: 2px red solid;
	border-radius: 10px;
	padding: 10px;
}

.retryButton {
	border: 0;
	padding: 5px 20px;
	margin: 5px;
	font-family: poetsen;
	font-size: 1.1rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: rgba(220, 0, 0, 1);
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
	inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.retryButton:hover {
	background-color: rgba(255, 0, 0, 1);
}

.retryButton:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
	inset 2px 2px 3px rgba(0, 0, 0, .6);
}

p {
	text-align: justify;
	font-size: 1rem;
}

#present {
	margin: 0;
	background-color: #ffd5d5;
	padding: 0 2% 0 2%;
}

#present img {
	display: block;
	margin: 30px auto 30px auto;
	text-align: center;
	border: 1px black solid;
	border-radius: 20px;
}

hr {
	margin-bottom: 0;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}

#partnersList {
	padding: 0 2% 0 2%;
}

#partnerBox {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
	border: 1px black solid;
	border-radius: 20px;
	padding: 0 20px 0 20px;
	margin-bottom: 10px;
}

#partnerDescription
{
	width: 900px;
	margin: auto 20px auto auto;
}

#partnerBox img {
	width: auto;
	height: 80px;
	border: 1px black solid;
	margin: 20px 20px 20px 0;
}

/* Bouton */
.button {
	border: 0;
	align-self: flex-end;
	padding: 5px 20px;
	margin: 20px 0 20px 20px;
	font-family: poetsen;
	font-size: 1.1rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: rgba(220, 0, 0, 1);
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
	inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.button:hover {
	background-color: rgba(255, 0, 0, 1);
}

.button:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
	inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/*---Formulaires---*/

.connectForm {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.connectForm img {
	width: 150px;
	height: auto;
	margin: auto;
}

.connectForm h1 {
	margin: auto;
}

.connectForm input {
	width: 100%;
	border: 3px solid #ccc;
	border-radius: 4px;
	text-align: center;
	font-size: 1.5em;
	height: 1.6em;
}

.connectForm p {
	font-size: 1.5em;
	margin: 20px auto 20px auto;
	text-align: center;
}

#connectButton {
	display: block;
	width: 200px;
	padding: 5px 20px;
	margin: 10px auto;
	border: 0;
	font-family: poetsen;
	font-size: 1.1rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: rgba(220, 0, 0, 1);
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
	inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#connectButton:hover {
	background-color: rgba(255, 0, 0, 1);
}

#connectButton:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
	inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#suscribeForm {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-around;
	margin: auto;
}

#suscribeForm img {
	width: 100px;
	height: auto;
	margin: auto;
}

#suscribeForm h1 {
	margin: auto;
}

#suscribeForm input {
	width: 100%;
	border: 3px solid #ccc;
	border-radius: 4px;
	text-align: center;
	font-size: 1.5em;
	height: 1.6em;
}

#suscribeForm p {
	font-size: 1.5em;
	margin: 20px auto 20px auto;
	text-align: center;
}

#suscribeForm .button {
	margin: 20px auto 20px auto;
}